<h1 mat-dialog-title style="width:100%; height: 5%;">인증서 재등록</h1>

<div mat-dialog-content style="width:100%; height:90%;">
    <div style="height: 90%">
        <mat-list role="list" style="width:100%">
            <mat-list-item role="listitem" style="height:15%;">
                    <p style="top:0px;">장치 인증서 재등록을 위한 정보를 입력해주세요.</p>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>Verification code</mat-label>
                    <input matInput [formControl]="necessaryForm" required #getCode>
                    <mat-error *ngIf="necessaryForm.invalid">{{getFormError()}}</mat-error>
                    <mat-hint>메일로 발급받은 코드를 입력해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-label>공개키를 파일을 선택해주세요. </mat-label>
                <input type="file" (change)="onFileChange($event)">
            </mat-list-item>
        </mat-list>
    </div>
    <div style="height: 10%">
        <button mat-flat-button mat-dialog-close color="primary" [disabled]="necessaryForm.invalid" (click)="onButtonClick(getCode.value)">만들기</button>
        <button mat-flat-button mat-dialog-close color="primary" >취소</button>
    </div>
</div>