<i class="material-icons" style="width: 50%;" (click)="remove()">remove_circle</i>
<!-- <i class="material-icons" style="width: 50%; text-align: right;" (click)="openCertReRegisterDialog()">assignment</i> -->
<div class="image-card card">
  <div class="header">
    <img [src]="image"/>
  </div>
  <div class="body">
    <h4>{{ title }}</h4>
    <p>{{ desc }}</p>
  </div>
  <div class="footer">
    <h4>
      <i class="material-icons">wb_sunny</i>
      T: {{ footerTitle?.con.temp }}
      H: {{ footerTitle?.con.humidity }}
    </h4>
    <div class="position"><i class="material-icons">location_on</i> {{ position }}</div>
  </div>
</div>
