.login-container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    background-image: url("../../assets/login_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.login-form-container {
    width: 400px;
    height: 500px;
    margin: 0px auto;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    vertical-align: middle;
    margin-top: 20px;
}
  
.login-input {
    width : 90%;
    left : 50%;
    transform: translate(-50%, 0%);
    margin-top: 20px;
}

.login-button {
    position: relative;
    left:50%;
    transform: translate(-50%, 0%);
    /* background-color : #e7e7e7; color: black; */
    width:100%;

    padding: 15px 32px;
    text-align : center;
    text-decoration: none;
    font-size: 16px;
}
.login-forget-password {
    margin-left: 20px;
}

.login-signup {
    /* margin-top:100%; */
    text-align: center;
    
}
  