<div class='login-container'>
  <div class='login-form-container'>
      <p class="login-title">
          Reissue
      </p>
      <form [formGroup]="registerForm" class="login-form" style="width: 100%;">
          <mat-list role="list" style="width:100%">
              <mat-list-item role="listitem" style="height:30%;">
                  <mat-form-field appearance="fill" style="width:100%;" [formGroup]="registerForm">
                      <mat-label>email address (Login ID)</mat-label>
                      <input matInput required formControlName="email" #getEmail>
                      <mat-hint>이메일 주소를 입력해주세요.</mat-hint>
                  </mat-form-field>
              </mat-list-item>
              <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                  <mat-form-field appearance="fill" style="width:100%;">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput required formControlName="password" #getPasswd>
                      <mat-hint>비밀번호를 입력해주세요.</mat-hint>
                  </mat-form-field>
              </mat-list-item>
              <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                  <mat-form-field appearance="fill" style="width:100%;">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput required formControlName="confirmPassword">
                      <mat-hint>비밀번호를 한번 더 입력해주세요.</mat-hint>
                  </mat-form-field>
              </mat-list-item>
              <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                  <mat-label style="width: 60%;" >공개키 파일을 선택해주세요. </mat-label>
                  <input type="file" style="width: 40%" (change)="onFileChange($event)">
              </mat-list-item>
              <mat-list-item role="listitem" style="height:30%;">
                  <button mat-flat-button color="primary" [disabled]="registerForm.invalid || fileInput==undefined" (click)="onSubmit(getEmail.value, getPasswd.value)" style="height:100%; width:50%; margin: 25px;" >Confirm</button>
              </mat-list-item>
          </mat-list>
      </form>
  </div>
</div>