<div *ngIf="selectedServerPlatform$==undefined; else showDeviceContents" style="width: 100%; height: 100%">
  <div style="background-image: url(./../../../assets/matrix2.gif); width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; opacity: 0.2; filter: alpha(opacity=50);"></div>
</div>

<ng-template #showDeviceContents>
  <div class="container">
    <div>
      <button mat-raised-button (click)="openAddDiviceDialog()">
        <i class="material-icons">add_circle</i> ADD DEVICE
      </button>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12" *ngFor="let deviceContent of deviceContents$; let i = index">
        <app-imagecard
          image="../../../assets/device_credential.png"
          title="{{deviceContent.title}}"
          desc="{{deviceContent.desc}}"
          deviceId="{{deviceContent.deviceId}}"
          [dht]="MobiusDht$[i]"
          position="{{deviceContent.location}}"
          cardIndex="{{i}}">
        </app-imagecard>
      </div>
    </div>
  </div>
</ng-template>