<h1 mat-dialog-title style="width:100%; height: 5%;">장치 추가</h1>

<div mat-dialog-content style="width:100%; height:90%;">
    <div style="height: 90%">
        <mat-list role="list" style="width:100%">
            <mat-list-item role="listitem" style="height:15%;">
                    <p style="top:0px;">추가할 장치의 정보를 입력해주세요.</p>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>장치 이름</mat-label>
                    <input matInput [formControl]="necessaryForm1" required #getDeviceName>
                    <mat-error *ngIf="necessaryForm1.invalid">{{getFormError()}}</mat-error>
                    <mat-hint>장치 이름을 입력해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>Device ID</mat-label>
                    <input matInput [formControl]="necessaryForm2" required #getDeviceID>
                    <mat-error *ngIf="necessaryForm2.invalid">{{getFormError()}}</mat-error>
                    <mat-hint>Device ID를 입력해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>Device 주소(IP)</mat-label>
                    <input matInput [formControl]="necessaryForm3" required #getCameraAddr>
                    <mat-error *ngIf="necessaryForm3.invalid">{{getFormError()}}</mat-error>
                    <mat-hint>Device 주소를 입력해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>장치 위치</mat-label>
                    <input matInput #getDeviceLocation>
                    <mat-hint>장치 위치를 입력해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-form-field appearance="fill" style="width:100%;">
                    <mat-label>설명</mat-label>
                    <textarea matInput #getDesc></textarea>
                    <mat-hint>장치에 대한 설명을 작성해주세요.</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem" style="height:30%;">
                <mat-label>공개키 파일을 선택해주세요. </mat-label>
                <input type="file" (change)="onFileChange($event)">
            </mat-list-item>
        </mat-list>
        
    </div>
    <div style="height: 10%">
        <button mat-flat-button mat-dialog-close color="primary" [disabled]="necessaryForm1.invalid || necessaryForm2.invalid || necessaryForm3.invalid || fileInput==undefined" (click)="applyDevice(getDeviceName.value, getDeviceID.value, getCameraAddr.value, getDeviceLocation.value, getDesc.value)" [mat-dialog-close]="resultDeviceContents" style="height:100%;">만들기</button>
        <button mat-flat-button mat-dialog-close color="primary" style="height:100%;">취소</button>
    </div>
</div>