<!-- <button mat-button color="primary" class="login-button"> Sign in </button> -->
<div class='login-container'>
    <div class='login-form-container'>
        <p class="login-title">
            회원가입
        </p>
        <form [formGroup]="registerForm" class="login-form" style="width: 100%; margin-top: 25px;">
            <mat-list role="list" style="width:100%">
                <mat-list-item role="listitem" style="height:15%;">
                        <p style="top:0px;">회원가입을 위해 아래의 정보를 입력해주세요.</p>
                </mat-list-item>
                <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                    <mat-form-field appearance="fill" style="width:100%;" [formGroup]="registerForm">
                        <mat-label>email address (Login ID)</mat-label>
                        <input matInput required formControlName="email" #getEmail>
                        <mat-hint>이메일 주소를 입력해주세요.</mat-hint>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                    <mat-form-field appearance="fill" style="width:100%;">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required formControlName="password" #getPasswd>
                        <mat-hint>비밀번호를 입력해주세요. (비밀번호는 최소 7자리에서 15자리까지 가능합니다.)</mat-hint>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                    <mat-form-field appearance="fill" style="width:100%;">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required formControlName="confirmPassword">
                        <mat-hint>비밀번호를 한번 더 입력해주세요.</mat-hint>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" style="height:30%; margin-top: 25px;">
                    <mat-label style="width: 60%;" >공개키 파일을 선택해주세요. </mat-label>
                    <input type="file" style="width: 40%" (change)="onFileChange($event)">
                </mat-list-item>
            </mat-list>
        </form>
        <div style="height: 10%; width: 100%; margin-top: 50px; text-align: center;">
            <button mat-flat-button color="primary" [disabled]="registerForm.invalid || fileInput==undefined" (click)="submit(getEmail.value, getPasswd.value)" style="height:100%; width:30%; margin: 25px;" >만들기</button>
            <button mat-flat-button color="primary" [routerLink]="['/login']" style="height:100%; width:30%; margin: 25px;">취소</button>
        </div>
    </div>
  </div>