<div class="logo text-uppercase" [style.color]="normalFontColor" (click)="onLogoClick()">
  <img src="../../../assets/enitt_logo.png"  class="logo-img" alt="logo"/>
</div>
<div class="divider" [style.background-color]="dividerBgColor"></div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive? (menuItem.children === null? 'active' : '') : ''" [routerLinkActiveOptions]="{exact: true}">
        <a [style.display]="menuItem.children === null? 'flex' : 'none'" [routerLink]="[menuItem.path]" [style.background-color]="rla.isActive? color : 'transparent'" [style.color]="rla.isActive? activeFontColor : normalFontColor">
          <i class="material-icons">{{menuItem.icon}}</i>
          <span>{{menuItem.title}}</span>
        </a>
        <div [hidden]="menuItem.children === null" class="collapse-container">
          <a data-toggle="collapse" [href]="['#' + menuItem.id]" style="padding: 0 15px;" [ngClass]="rla.isActive? 'parent-active' : ''" class="collapse-a collapsed" [style.color]="normalFontColor">
            <i class="material-icons">{{menuItem.icon}}</i>
            <span>{{menuItem.title}}</span>
            <b class="caret" [style.color]="normalFontColor"></b>
          </a>
          <div class="collapse" [id]="[menuItem.id]">
              <i class="material-icons" style="width: 100%; text-align: right; padding-right: 28px" (click)="openServerPlatformDialog()">add_circle</i>
            <ul class="nav">
              <li *ngFor="let subItem of menuItem.children; let i = index" routerLinkActive #subrla="routerLinkActive" [ngClass]="subrla.isActive? 'active' : ''">
                <a [style.background-color]="subrla.isActive? color : 'transparent'" [style.color]="subrla.isActive? activeFontColor : normalFontColor" style="height: 43px;">
                  <span style="margin-left: 5px; width: 50px;">{{subItem.icon}}</span>
                  <span style="margin-left: 5px; width: 130px;" (click)="onServerPlatformClick(subItem.title)">{{subItem.title}}</span>
                  <!-- <i class="material-icons" style="width: 50%; text-align: right;" (click)="reRegisterCertificate(i)">assignment</i> -->
                  <i class="material-icons" style="width: 30px;" (click)="removeServerPlatformItem(subItem.title)">remove_circle</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
