<!-- <button mat-button color="primary" class="login-button"> Sign in </button> -->
<div class='login-container'>
  <div class='login-form-container'>
      <p class="login-title" style="margin-top: 10px">
          인증코드 입력
      </p>
      <form class="login-form" style="margin-top: 20px"> 
        <!-- (ngSubmit)="onSubmit()" -->
          <mat-form-field class="login-input">
              <input matInput placeholder="Code" [formControl]="emailFormControl" #getCode>
              <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
              </mat-error> -->
              <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
          <p>
              <button mat-button color="primary" (click)="submit(getCode.value)" style="margin-top: 30px" class="login-button" > 전송 </button>
          </p>
      </form>
  </div>
</div>